
 <mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="center center">
    <span class="title-center">Signup</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="signupFrom">
    <div fxLayout="column" fxLayoutGap="10px">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="signupFrom.controls['name'].touched && signupFrom.controls['name'].invalid">
          <span *ngIf="signupFrom.controls['name'].errors?.required">This field is mandatory</span>
          <span *ngIf="signupFrom.controls['name'].errors?.pattern">This field is invalid</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="signupFrom.controls['email'].touched && signupFrom.controls['email'].invalid">
          <span *ngIf="signupFrom.controls['email'].errors?.required">This field is mandatory</span>
          <span *ngIf="signupFrom.controls['email'].errors?.pattern">This field is invalid</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Contact Number</mat-label>
        <input matInput formControlName="contactNumber" required>
        <mat-error *ngIf="signupFrom.controls['contactNumber'].touched && signupFrom.controls['contactNumber'].invalid">
          <span *ngIf="signupFrom.controls['contactNumber'].errors?.required">This field is mandatory</span>
          <span *ngIf="signupFrom.controls['contactNumber'].errors?.pattern">This field is invalid</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required>
        <mat-error *ngIf="signupFrom.controls['password'].touched && signupFrom.controls['password'].invalid">
          <span *ngIf="signupFrom.controls['password'].errors?.required">This field is mandatory</span>
          <span *ngIf="signupFrom.controls['password'].errors?.minlength">Password must be at least 6 characters long</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px" style="margin-top: 24px;">
      <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()" [disabled]="!(signupFrom.valid && signupFrom.dirty)">Signup</button>
      <button mat-raised-button color="primary" mat-dialog-close>Close</button>
    </div>
  </form>
</mat-dialog-content>








